    <a href="{{ site.root_url }}/img/info-quees.png" target="_blank">
      <img src="{{ site.root_url }}/img/info-quees.png" class="img-infografia" /></a>
    <p>Este proyecto busca formar equipos entre los principales innovadores y emprendedores dentro y fuera de gobierno para realizar proyectos tangibles, de base tecnológica y con alto impacto. De esta manera, se contempla hacer 5 proyectos en 2014 donde Agentes de Innovación funcionará como una “incubadora/aceleradora” de proyectos dentro de gobierno para fomentar innovación en el sector público.
</p>