
<h2>REGÍSTRATE</h2>

<p>Del 1 al 3 de octubre 2014 en la Ciudad de México, se llevará a cabo la des-conferencia <b>AbreLATAM</b> y la Conferencia (ConDATOS) de Datos Abiertos para América Latina. En los meses previos se darán a conocer todos los detalles de estos eventos. Para recibir esta información de primera fuente y directamente en tu correo electrónico, registre sus información de contacto en este formulario. </p>



<div class="forma">

<form class=forma role="form" id="signup">
    
        <h3>Información General</h3><br>

    
  <div class="form-group">
    <input type="text" class="form-control" id="name" placeholder="Nombre completo">
  </div>
    
    <div class="form-group">
    <input type="text" class="form-control" id="email" placeholder="Correo electrónico">
  </div>
    
        <div class="form-group">
    <input type="text" class="form-control" id="institucion" placeholder="Institución y área laboral">
  </div>
    
      <div class="form-group">
    <select class="form-control">
  <option>¿País?</option>
  <option>Aguascalientes</option>
  <option>Baja California</option>
  <option>Baja California Sur</option>
  <option>Campeche</option>
  <option>Chiapas</option>
  <option>Chuhuahua</option>
  <option>Coahuila</option>
  <option>Colima</option>
  <option>Durango</option>
  <option>Guanajuato</option>
  <option>Guerrero</option>
  <option>Hidalgo</option>
  <option>Jalisco</option>
  <option>Campeche</option>
  <option>Estado de México</option>
  <option>Michoacán</option>
  <option>Morelos</option>
  <option>Nayarit</option>
  <option>Nuevo León</option>
  <option>Oaxaca</option>
  <option>Puebla</option>
  <option>Querétaro</option>
  <option>Quintana Roo</option>
  <option>San Luis Potosí</option>
  <option>Sinaloa</option>
  <option>Sonora</option>
  <option>Tabasco</option>
  <option>Tamaulipas</option>
  <option>Tlaxcala</option>
  <option>Veracruz</option>
  <option>Yucatán</option>
  <option>Zacatecas</option>
</select>
  </div>

    

                   <h3>Sector de ocupación</h3>
    
    <div class="form-group">
<label class="checkbox">
  <input type="checkbox" id="Checkbox1" value="option1"> Programación web
</label>
<label class="checkbox">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> Gobierno
</label>
<label class="checkbox">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Sociedad Civil
</label>
    <label class="checkbox">
  <input type="checkbox" id="inlineCheckbox4" value="option3"> Periodismo
</label>
       <label class="checkbox">
  <input type="checkbox" id="inlineCheckbox5" value="option3"> Academia
</label>
               <label class="checkbox">
  <input type="checkbox" id="inlineCheckbox5" value="option3"> Tecnología
</label>
               <label class="checkbox">
  <input type="checkbox" id="inlineCheckbox5" value="option3"> Organismo Multilateral
</label>
                       <label class="checkbox">
  <input type="checkbox" id="inlineCheckbox5" value="option3"> Otro
</label>
          </div><br>




    
    <h3>Preguntas, comentarios o sugerencias</h3>
 <label for="preguntas">Toda la información referente al programa, participación y apoyos para AbreLATAM CONDATOS será publicada y comunicada por correo electrónico en los próximos meses. </label>
    <textarea class="form-control" id="preguntas" rows="5" placeholder=""></textarea>

    
    <div class="botonforma">
          <button type="submit" class="btn btn-primary btn-lg">ENVIAR</button>
    </div>
</form>

        </div>
