
<form role="form" id="signup">
    
  <div class="form-group">
    <input type="text" class="form-control" id="name" placeholder="Nombre">
  </div>
    
      <div class="form-group">
    <select class="form-control">
  <option>Estado</option>
  <option>Aguascalientes</option>
  <option>Baja California</option>
  <option>Baja California Sur</option>
  <option>Campeche</option>
  <option>Chiapas</option>
  <option>Chuhuahua</option>
  <option>Coahuila</option>
  <option>Colima</option>
  <option>Durango</option>
  <option>Guanajuato</option>
  <option>Guerrero</option>
  <option>Hidalgo</option>
  <option>Jalisco</option>
  <option>Campeche</option>
  <option>Estado de México</option>
  <option>Michoacán</option>
  <option>Morelos</option>
  <option>Nayarit</option>
  <option>Nuevo León</option>
  <option>Oaxaca</option>
  <option>Puebla</option>
  <option>Querétaro</option>
  <option>Quintana Roo</option>
  <option>San Luis Potosí</option>
  <option>Sinaloa</option>
  <option>Sonora</option>
  <option>Tabasco</option>
  <option>Tamaulipas</option>
  <option>Tlaxcala</option>
  <option>Veracruz</option>
  <option>Yucatán</option>
  <option>Zacatecas</option>
</select>
  </div>

    
  <div class="form-group">
    <input type="text" class="form-control" id="estudios" placeholder="Estudios (grado y especialidad)">
  </div>
    
  <div class="form-group">
    <input type="text" class="form-control" id="certificados" placeholder="Otros certificados">
  </div>
    
    <p>Habilidades</p>
    
  <div class="checkbox"><label><input type="checkbox" value="">Programación web</label>
          </div>
      <div class="checkbox"><label><input type="checkbox" value="">Diseño</label>
          </div>
      <div class="checkbox"><label><input type="checkbox" value="">Análisis de datos</label>
          </div>
      <div class="checkbox"><label><input type="checkbox" value="">Desarrollo de aplicaciopnes móviles</label>
          </div>
      <div class="checkbox"><label><input type="checkbox" value="">Cartografía</label>
          </div>
   


    
  <div class="form-group">
    <input type="text" class="form-control" id="experiencia" placeholder="Experiencia">
  </div>
    
   <p>Disponibilidad de tiempo</p>
<p>El proyecto de Agentes de innovación requiere tiempo completo, ¿actualmente cuentas con esta disponibilidad?</p>
    
    <div class="checkbox"><label><input type="checkbox" value="">Sí</label>
          </div>
      <div class="checkbox"><label><input type="checkbox" value="">No</label>
          </div>
    
       <div class="form-group">
    <select class="form-control"> 
  <option>Tiempo disponible</option>
  <option>85%</option>
  <option>70%</option>
  <option>50%</option>
  </div>
           
  <div class="form-group">
    <input type="text" class="form-control" id="motivos" placeholder="Declaración de motivos">
  </div>
    
  <button type="submit" class="btn btn-primary btn-lg">ENVIAR</button>
</form>
