
<h2>SUSCRIPCIÓN</h2>

<p>Del 1 al 3 de octubre 2014 en la Ciudad de México, se llevará a cabo la des-conferencia <b>AbreLATAM</b> y la Conferencia (ConDATOS) de Datos Abiertos para América Latina. En los meses previos se darán a conocer todos los detalles de estos eventos. Para recibir esta información de primera fuente y directamente en tu correo electrónico, registre sus información de contacto en este formulario. </p>



<div class="forma">

<form class=forma role="form" id="signup">
    
        <h3>Información General</h3><br>

    
  <div class="form-group">
    <input type="text" class="form-control" id="name" placeholder="Nombre completo">
  </div>
    
    <div class="form-group">
    <input type="text" class="form-control" id="email" placeholder="Correo electrónico">
  </div>
    
        <div class="form-group">
    <input type="text" class="form-control" id="institucion" placeholder="Institución y área laboral">
  </div>
    
      <div class="form-group">
    <select class="form-control">
  <option selected>¿País?</option>
   <option value="AF">Afganistán</option> 
        <option value="Argentina">Argentina</option> 
        <option value="Bolivia">Bolivia</option> 
        <option value="Chile">Chile</option> 
        <option value="Colombia">Colombia</option> 
        <option value="Costa Rica">Costa Rica</option> 
        <option value="Cuba">Cuba</option> 
        <option value="Ecuador">Ecuador</option> 
        <option value="El Salvador">El Salvador</option> 
        <option value="Guatemala">Guatemala</option> 
        <option value="Honduras">Honduras</option> 
        <option value="Jamaica">Jamaica</option> 
        <option value="M&eacute;xico">México</option> 
        <option value="Nicaragua">Nicaragua</option> 
        <option value="Panam&aacute;">Panamá</option> 
        <option value="Paraguay">Paraguay</option> 
        <option value="Per&uacute;">Perú</option> 
        <option value="Puerto Rico">Puerto Rico</option> 
        <option value="Rep&uacute;blica Dominicana">República Dominicana</option> 
        <option value="Trinidad">Trinidad</option> 
        <option value="Uruguay">Uruguay</option> 
        <option value="Venezuela">Venezuela</option> 
        <option value="Otros - USA o Canada">Otros - USA o Canada</option> 
        <option value="Otros - Europa">Otros - Europa</option> 
        <option value="Otros - &Aacute;frica">Otros - África</option> 
        <option value="Otros - Asia">Otros - Asia</option> 
        <option value="Otros - Oceania">Otros - Oceania</option></select>
</select>
  </div>

    

                   <h3>Sector de ocupación</h3>
    
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Programación web
  </label>
</div>
    
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
    Gobierno
  </label>
</div>
    
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
    Sociedad civil
  </label>
</div>
    
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
    Periodismo
  </label>
</div>
    
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5" checked>
    Academia
  </label>
</div>
    
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios6" value="option6" checked>
    Tecnología
  </label>
</div>
    
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios7" value="option7" checked>
    Organismo Multilateral
  </label>
</div>
    
    <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios8" value="option8" checked>
    Otro
  </label>
</div>
    




    
    <h3>Preguntas, comentarios o sugerencias</h3>
 <label for="preguntas">Toda la información referente al programa, participación y apoyos para AbreLATAM CONDATOS será publicada y comunicada por correo electrónico en los próximos meses. </label>
    <textarea class="form-control" id="preguntas" rows="5" placeholder=""></textarea>

    
    <div class="botonforma">
          <button type="submit" class="btn btn-primary btn-lg">ENVIAR</button>
    </div>
</form>

        </div>
