
<h2>ABRE LATAM CONDATOS | 2014</h2>

<p>
ConDatos is the most important regional event on open data in Latin America and the Caribbean. This year, Mexico City will be hosting academics, governments, business and civil society organizations so they can interact in discussions, roundtables and workshops to enrich the debate of open data on different topics. 
</p>


<p>The Regional Conference for Open Data in Latin America and the Caribbean was held for the first time in 2013 in Montevideo, Uruguay bringing together the most relevant actors in the region to share experiences, knowledge and expose the issues and initiatives that exist in the open data world. We resume this conversation to further strengthen these efforts in an innovative and collaborative manner. 

ConDatos will be held in Mexico City the 1 and 2 of October in the Library of Mexico known as the Ciudadela, the City of Books and Images, a cultural center that promotes modernization, innovation and the use of new technologies.

</p>


 

<h2>CALL FOR ASSISTANCE AND PARTICIPATION </h2>

<p>We want ConDatos to be an inclusive, diverse event involving the entire region and the most relevant conversations around open data. So we are opening a call to the community with experience and interest in open data to propose topics, panelists and thematic roundtables to include in the event. We want opinions based on knowledge of the open data ecosystem in Latin America to create a representative and comprehensive program. 
</p>

<p>Open calls for:</p>

<ul align="left">
<li>Attending ConDatos </li><br>
<li>Planning a roundtable at ConDatos </li><br>
<li>Participating in a roundtable</li><br>
<li>Proposing a new topic for discussion at a roundtable.</li><br>
</ul>  




  <div class="botonforma">
   <a href="https://docs.google.com/forms/d/1MoBsv3PLaFzNTqkdcyNiwJlrY4fOUu5N2-F_wSYz71Y/viewform?usp=send_form" target="_blank"> <button type="button" class="btn btn-primary botonlink">SEND YOUR REQUESTS HERE</button></a>
  </div>

<font color="#a1a2ad">
<p>The application does not guarantee admission or participation in Condatos. Review the selection process<a href="{{ site.root_url }}/acerca.html#solicitud">
here</a>.<br>


The deadline to submit proposals is August 11.
</p>
</font>

<h2>THEMES</h2>

<div class="row">
  <div class="col-md-4">
<ul align="left">
<li>Open Parliament</li><br>
<li>Mobility</li><br>
<li>Open Government</li><br>
<li>Open Legal</li><br>
<li>Open Enterpeneurship*</li><br>
<li>Data Journalism</li><br>
<li>Open Cities</li><br>
<li>Urban and Economic Productivity</li><br>
<li>Open Civic Innovation*</li><br>

</ul>  
    </div>
  <div class="col-md-4">
<ul align="left">
<li>Open Tourism*</li><br>
<li>Open Geo</li><br>
<li>Open Data Platforms</li><br>
<li>Data Science</li><br>
<li>Open Investigation*</li><br>
<li>Open Transparency and Accountability*</li><br>
<li>Open Education*</li><br>
<li>Natural Disasters</li><br>
<li>Open Health*</li><br>
</ul>  
    </div>
  <div class="col-md-4">
<ul align="left">
<li>Public Challenges</li><br>
<li>Post 2015</li><br>
<li>Privacy and Personal Data Protection</li><br>
<li>Open Culture</li><br>
<li>Open CIvic Security*</li><br>
<li>The Internet of Things</li><br>
<li>Open Science and Technology*</li><br>
</ul>  
    </div>
</div>

<font color="#a1a2ad">
<p>*Open themes for proposals.
</p>
</font>


