
<h2>ABRE LATAM CONDATOS | 2014</h2>

<p>ConDatos es el evento regional más importante sobre datos abiertos en América Latina y el Caribe. Este año, México es el país anfitrión y abrirá este espacio para que expertos de academia, gobierno, empresas y organizaciones de sociedad civil puedan interactuar en pláticas, mesas redondas y talleres que enriquezcan el debate en torno a los datos abiertos en diversas temáticas.
</p>


<p>La Conferencia Regional de Datos Abiertos de América Latina y el Caribe se llevó a cabo por primera vez en 2013 en Montevideo, Uruguay logrando reunir a los actores más relevantes de la región para compartir experiencias, conocimiento y exponer las problemáticas e iniciativas de datos abiertos que existen. Queremos retomar esta conversación para seguir fortaleciendo estos esfuerzos de manera innovadora y colaborativa. 
ConDatos se llevará a cabo en la Ciudad de México el 2 y 3 de octubre en la Biblioteca de México conocida como Ciudadela, la Ciudad de los Libros y la Imagen, un centro cultural que fomenta modernización, innovación y uso de nuevas tecnologías.   
</p>

<h2>SOLICITUD</h2>

<p>Buscamos que ConDatos sea un evento inclusivo, diverso, con representación y participación de toda la región y de los temas más relevantes de datos abiertos. Por eso abrimos un llamado a la comunidad con experiencia e interés en datos abiertos a que propongan temas, panelistas, mesas temáticas de diálogo, y ponentes magistrales para que participen en el evento. Queremos opiniones basadas en tu conocimiento del ecosistema de datos abiertos en América Latina para crear un programa representativo e integral.
</p>

<p>Abrimos los siguientes llamados a propuestas:</p>

<ul align="left">
<li>Asistir a ConDatos</li><br>
<li>Organizar una mesa temática en ConDatos </li><br>
<li>Participar en una mesa temática</li><br>
<li>Proponer un tema nuevo de discusión para una mesa temática</li><br>
</ul>  




  <div class="botonforma">
   <a href="https://docs.google.com/forms/d/1K_CPkixxzmkQy0IQekA6-XK-i8Pf0zU8UvSUJYqmHAA/viewform?usp=send_form" target="_blank"> <button type="button" class="btn btn-primary botonlink">ENVÍA TU SOLICITUD AQUÍ</button></a>
  </div>

<font color="#a1a2ad">
<p>Conoce el proceso de selección <a href="{{ site.root_url }}/acerca.html#solicitud">
aquí</a>.<br>


El último día para enviar sus propuestas será el 2 de agosto. 
</p>
</font>

<h2>TEMAS TENTATIVOS</h2>

<div class="row">
  <div class="col-md-4">
<ul align="left">
<li>Parlamento Abierto</li><br>
<li>Movilidad</li><br>
<li>Gobierno Abierto</li><br>
<li>Open Legal</li><br>
<li>Emprendimiento*</li><br>
<li>Periodismo de Datos</li><br>
<li>Ciudades Abiertas</li><br>
<li>Productividad Economica y Urbana</li><br>
<li>Innovación Cívica*</li><br>

</ul>  
    </div>
  <div class="col-md-4">
<ul align="left">
<li>Turismo Abierto*</li><br>
<li>Geografía Abierta</li><br>
<li>Plataformas de Datos Abiertos</li><br>
<li>Ciencia de Datos</li><br>
<li>Investigación Abierta*</li><br>
<li>Transparencia y Rendición de Cuentas*</li><br>
<li>Educación*</li><br>
<li>Desastres Naturales</li><br>
<li>Salud*</li><br>
</ul>  
    </div>
  <div class="col-md-4">
<ul align="left">
<li>Retos Públicos</li><br>
<li>Post 2015</li><br>
<li>Privacidad y Protección de Datos Personales</li><br>
<li>Cultura Abierta</li><br>
<li>Seguridad Ciudadana*</li><br>
<li>El Internet de las Cosas</li><br>
<li>Ciencia y Tecnología*</li><br>
</ul>  
    </div>
</div>

<font color="#a1a2ad">
<p>*Temas abiertos.
</p>
</font>

<h2>BECA CONDATOS</h2>

<p>Una de nuestras metas este año es crear un evento, diverso e incluyente con representatividad de toda la región. Queremos reunir a las personas, proyectos, empresas y dependencias de gobierno más involucrados en el ecosistema de datos abiertos para dialogar, compartir ideas y juntos avanzar en el desarrollo de la región como referente mundial en el tema.</p>
<p>Nuestras becas cubren gastos de traslado. Daremos prioridad a las solicitudes que sean elegidas en la convocatoria abierta y que requieran apoyo para asistir.</p>

  <div class="botonforma">
   <a href="https://docs.google.com/forms/d/1MoBsv3PLaFzNTqkdcyNiwJlrY4fOUu5N2-F_wSYz71Y/viewform?usp=send_form" target="_blank"> <button type="button" class="btn btn-primary botonlink">APLICA AQUÍ</button></a>
  </div>

<p>Si tu solicitud es exitosa, te notificaremos por correo electrónico con instrucciones para validar tu beca.</p>
