---
layout: default
---
 

<section class="intro">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-md-5">
				<h1 class="brand">Con Datos</h1>
			</div>	
			<div class="col-sm-7 col-md-7">
				<div class="row">
					<div class="col-sm-6 col-md-5" style="font: Quicksand">
					<p>II Conferencia Regional de Datos Abiertos en América Latina y el Caribe</p>						<p class="date">OCT 1—2 | 2014 <span>Ciudad de México</span></p>

					</div>
                    <div class="col-sm-6 col-md-5" style="font: Quicksand">
                    						<p class="right"><img src="../img/AbrelatamConDatos_logo.png" alt="AbreLATAM ConDatos " target="_blank"></span>
						<a href="http://abrelatam.org/" target="_blank"><img src="../img/Abrelatam_logo.png" alt="AbreLATAM"></p>
                    </div>
				</div>
				<div class="row">
					<div class="col-sm-7 col-md-6">
					</div>
					<div class="col-sm-5 col-md-6">

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 bkgd">
			</div>
		</div>
	</div>
</section>
<a name="acercade"></a>
<!-- section expertos-->
<section class="expertos">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 bkgd">
			</div>
			<div class="col-sm-8">
				<p>ConDatos es el evento regional más importante sobre datos abiertos en América Latina y el Caribe. </p>
				<p>Expertos de academia, gobierno, empresas y organizaciones de sociedad civil podrán interactuar en pláticas, mesas redondas y 
				talleres que enriquezcan el debate en torno a los datos abiertos.</p>
				<p><a href="..{{ page.back_path }}">Leer más</a></p>
			</div>
			
		</div>
	</div>
</section>
<a name="programa"></a>
<!-- section programas-->
<section class="programas">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Programa </h2>
				<h3>PRÓXIMAMENTE</h3>
				<div class="row">
					<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
						<p class="lead">Aquí encontrarás los temas que se tratarán en ConDatos más adelante tendremos más información y el programa</p>
					</div>
				</div>
                
                <div class="row">
					<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
						<h3>SEPT 30</h3><h4>AbreLATAM</h4></p>
					</div>
				</div>
             <div class="row">
					<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
						<h3>OCT 1—2</h3><h4>ConDatos</h4></p>
					</div>
				</div>
        		</div>
    			</div>


				<ul class="row">
					<li class="col-sm-4">Experiencias de países en gobierno abierto                </li>
					<li class="col-sm-4">Evaluación de políticas de datos abiertos				   </li>
					<li class="col-sm-4">Productividad con resultados preliminares de OD500		   </li>
					<li class="col-sm-4">Datos abiertos para la rendición de cuentas			   </li>
					<li class="col-sm-4">Parlamento abierto										   </li>
					<li class="col-sm-4">OGP retos y oportunidades								   </li>
					<li class="col-sm-4">Mapeo Abierto											   </li>
					<li class="col-sm-4">Experiencias de países en gobierno abierto				   </li>
					<li class="col-sm-4">Startups de datos abiertos								   </li>
					<li class="col-sm-4">Innovación Cívica										   </li>
					<li class="col-sm-4">Políticas de datos abiertos y Gobierno Abierto			   </li>
					<li class="col-sm-4">Contratación Abierta									   </li>
					<li class="col-sm-4">Impacto de datos abiertos para mejorar servicios públicos </li>
					<li class="col-sm-4">Plataforma Datos para el Desarrollo					   </li>
					<li class="col-sm-4">Internet de las Cosas									   </li>
					<li class="col-sm-4">Desastres naturales									   </li>
					<li class="col-sm-4">Periodismo de datos									   </li>
					<li class="col-sm-4">Post 2015												   </li>
					<li class="col-sm-4">Acceso abierto											   </li>
					<li class="col-sm-4">Salud													   </li>
					<li class="col-sm-4">Licencias de datos abiertos							   </li>
					<li class="col-sm-4">Agricultura											   </li>
					<li class="col-sm-4">Transparencia											   </li>
					<li class="col-sm-4">Retos públicos y emprendimiento						   </li>
					<li class="col-sm-4">Apoyo de organismos multilaterales para datos abiertos	   </li>
					<li class="col-sm-4">Diseño centrado en las instituciones					   </li>
					<li class="col-sm-4">Mapas de transporte para ciudades						   </li>
					<li class="col-sm-4">Presupuesto abierto									   </li>
					<li class="col-sm-4">Capítulo de Datos Abiertos en G20						   </li>
					<li class="col-sm-4">Kit de Ciudades Abiertas								   </li>
					<li class="col-sm-4">Iniciativas para la Sostenibilidad						   </li>
					<li class="col-sm-4">Plataformas de datos abiertos							   </li>
					<li class="col-sm-4">Cooperación sur-sur									   </li>
					<li class="col-sm-4">Estadística vs. datos abiertos							   </li>
					<li class="col-sm-4">Movilidad												   </li>
					<li class="col-sm-4">Ciudades Abiertas										   </li>
					<li class="col-sm-4">Cultura Abierta										   </li>
					<li class="col-sm-4">Periodismo de datos									   </li>
                    <li class="col-sm-4">Privacidad y protección de datos personales               </li>
                    <li class="col-sm-4">Ecosistema de Tecnología para el Cambio Social            </li>
				</ul>
                 <div class="row">
                            <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                                <h3>OCT 3</h3><h4>Ceremonia de clausura de la Semana de la Estrategia Digital Nacional</h4></p>
                            </div>
                        </div>
	</div>
</section>
<a name="eventos-paralelos"></a>
<!-- section paralelos-->
<section class="paralelos">
	<div class="container">
		<div class="row">	
			<h2>Eventos Paralelos</h2>
			<p>
				<a href="../mapa.html">
						<img src="../img/stateofthemap_icon.png" alt="ConMapas">
					ConMapas <span>&nbsp;</span>
				</a>
			
				<a>
						<img src="../img/bootcamp_icon.png" alt="Data Bootcamp"> <span>Próximamente</span>más eventos
				</a>
			</p>
		</div>
	</div>
</section>

<!-- section asiste-->
<section class="asiste">
	<div class="container">
		<h2>Asiste a ConDatos</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p class="lead">Asegura tu lugar en la conferencia y sus eventos paralelos. La entrada es gratuita.</p>
			</div>
		</div>	
		<a href="https://docs.google.com/a/vectores.in/forms/d/1MoBsv3PLaFzNTqkdcyNiwJlrY4fOUu5N2-F_wSYz71Y/viewform" target="_blank">REGÍSTRATE AQUÍ</a>
		
	</div>
</section>
<!-- section aliados-->
<section class="aliados">
	<div class="container">
		<div class="row">
			<h2>ALIADOS</h2>
			<div class="col-sm-10 col-sm-offset-1 ">
				<ul class="row">
					<li><a class="presidencia" href="http://www.presidencia.gob.mx/">Presidencia de la República</a></li>
					<li><a class="socialtic" href="http://socialtic.org/">SocialTic</a></li>
				</ul>
                <ul class="row">
                    <li><a class="ilda" href="http://idatosabiertos.org/">ILDA</a></li>
				</ul>
                
				<ul class="row">
					<li><a class="avina" href="http://www.avinaamericas.org/">AVINA AMERICAS</a></li>
                    <li><a class="usaid" href="http://www.usaid.gov">USAID</a></li>
                    <li><a class="idrc" href="http://www.idrc.ca/EN/Pages/default.aspx">IDRC</a></li>
				</ul>

				<ul class="row">
                    <li><a class="logosfooter" href="https://www.kionetworks.com/en/" target="_blank"><img src="../img/kio2.png" alt="Kio Networks" height="40px"></a></li>
                    <li><a class="wbg" href="http://www.worldbank.org">World Bank Group</a></li>
                    <li><a class="bid" href="http://www.iadb.org/es/banco-interamericano-de-desarrollo,2837.html">BID</a></li>
                 </ul>
                
                <ul class="row">
                    <li><a class="logosfooter" href="http://www.opensocietyfoundations.org/" target="_blank"><img src="../img/Open-Society.png" alt="Open Society" height="40px"></a></li>
                                        <li><a class="logosfooter" href="http://www.cepal.org/" target="_blank"><img src="../img/logo_cepal.png" alt="CEPAL" height="60px"></a></li>

                    <li><a class="logosfooter" href="https://okfn.org/" target="_blank"><img src="../img/okfn-logo.png" alt="Open Knowledge" height="40px"></a></li>


                 </ul>

                        
                 <ul class="row">
                    <li>
                    	<a class="logosfooter" href="http://www.oas.org/es/" target="_blank">
                    		<img src="../img/OAS_logo.png" alt="Organización de los estados Americanos"                     height="40px">	
                    	</a>
                    </li>
					<li>
                    	<a class="logosfooter" href="https://www.google.com/" target="_blank">
							<img src="../img/google.png" alt="Kio Networks" height="40px">
						</a>
					</li>
                    <li>                            
                    	<a class="logosfooter" href="https://www.hivos.org/" target="_blank">
                    		<img src="../img/Hivos-logo.png" alt="Hivos" height="50px">
                    	</a>
                    </li>
				</ul>
			</div>
			
		</div>
	</div>
</section>