---
layout: defaulten
about: About 
language: 'en'
---
 

<section class="intro">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-md-5">
				<h1 class="brand">Con Datos</h1>
			</div>	
			<div class="col-sm-7 col-md-7">
				<div class="row">
					<div class="col-sm-6 col-md-5">
					<p>Open Data Regional Conference Latin America <span>and the Caribbean</span></p>						<p class="date">OCT 1—2 | 2014 <span>Mexico City</span></p>

					</div>
                    <div class="col-sm-6 col-md-5" style="font: Quicksand">
                    						<p class="right"><img src="../img/AbrelatamConDatos_logo.png" alt="AbreLATAM ConDatos " target="_blank"></span>
						<a href="http://abrelatam.org/" target="_blank"><img src="../img/Abrelatam_logo.png" alt="AbreLATAM"></p>
                    </div>
				</div>
				<div class="row">
					<div class="col-sm-7 col-md-6">
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 bkgd">
			</div>
		</div>
	</div>
</section>
<a name="acercade"></a>
<!-- section expertos-->
<section class="expertos">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 bkgd">
			</div>
			<div class="col-sm-8">
				<p>ConDatos is the most important regional event on open data in Latin America and the Caribbean.</p>
				<p>This year, Mexico City will be hosting academics, governments, business and civil society organizations so they can interact in discussions, roundtables and workshops to enrich the debate of open data on different topics.</p>
				<p><a href="..{{ page.back_path }}">Read more</a></p>
			</div>
			
		</div>
	</div>
</section>
<a name="programme"></a>
<!-- section programas-->
<section class="programas">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Program</h2>
				<h3>COMING SOON</h3>
				<div class="row">
					<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
						<p class="lead">Here you will find the topics that will be addressed at ConDatos, we will have further information and the complete programme soon.</p>
					</div>
				</div>
                 <div class="row">
					<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
						<h3>SEPT 30</h3><h4>AbreLATAM</h4></p>
					</div>
				</div>
             <div class="row">
					<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
						<h3>OCT 1—2</h3><h4>ConDatos</h4></p>
					</div>
				</div>
		

		

<table class="table table-hover">
		<thead>
			<td width= "10%"><h4>Hora</h4></td>
			<td width= "45%"><h4>OCT 1</h4></td> 
			<td width= "45%"><h4>OCT 2</h4></td>
		</thead>
 </tr>
 <tr>
    <td>8 AM</td>
    <td colspan="2">Registration and Neworking </td> 
  </tr>
  <tr>
    <td>9 AM</td>
       <td>Opening</td> 
			 <td>Fireside Talks</td> 
  </tr>
	 <tr>
    <td>10 AM</td>
		 	 <td>Opening Fireside Talks | Openning Latin America and the Caribbean</td> 
       <td>Open Government Policy<br>Inernet of things</td> 
  </tr>
	<tr>
			<td>11 AM</td>
				 <td>Data for development<br>Functional Open Government for Governments<br>Sustainability Initiatives</td> 
				 <td>G20<br>Open Innovation<br>Citizen Open Data</td> 

	</tr>
		<tr>
			<td>12 PM</td>
				 <td>Better Cities with Open Street Map<br>Open Government Partnership | OGP<br>Mobility</td> 
				 <td>Open Spending<br>Gentrification<br>Technologies for Social Change</td> 
		</tr>
		<tr>
			<td>1 PM</td>
				 <td>Lunch</td> 
				 <td>Code 4 the Caribbean<br>ODRA<br>Open Tourism</td> 
		</tr>
		<tr>
			<td>2 PM</td>
				 <td>Lightning Talks</td> 
				 <td>Lunch</td> 
		</tr>
		<tr>
			 <td>3 PM</td>
				 	<td>Open Research<br>OD500<br>Open Data for Health</td> 
				 	<td>Keynote</td> 
		</tr>
		<tr>
					 <td>4 PM</td>
							<td>Open Parliament<br>Open Spending<br>Privacy</td> 
							<td>Enterpeneurs and Open Data<br>Post 2015</td> 
		</tr>
		<tr>
					 <td>5 PM</td>
							<td>Open Cities<br>Multi-lateral Organisms supporting Openness<br>Open Crops</td> 
							<td>Retos Públicos<br>Open Data Policy Evaluation | OCDE<br>Data Science</td> 
		</tr>
	  <tr>
					 <td>6 PM</td>
							<td>Data Journalism<br>Open Data Platforms<br>Licences</td> 
							<td>Open Contracting<br>Open Data for Public Services<br>Convergencias y divergencias entre datos abiertos y acceso a la información pública</td> 
		</tr>
</table>
	
	
	
         <div class="row">
                            <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                                <h3>OCT 3</h3><h4>National Digital Strategy Week Closing Ceremony</h4></p>
                            </div>
                        </div>
			</div>
		</div>
	</div>
</section>
<a name="eventos-paralelosen"></a>
<!-- section paralelos-->
<section class="paralelos">
	<div class="container">
		<div class="row">	
			<h2>Side events</h2>
			<p>
				<a href="../mapaen.html">
						<img src="../img/stateofthemap_icon.png" alt="ConMapas">
					ConMapas <span>&nbsp;</span>
				</a>
			
				<a>
						<img src="../img/bootcamp_icon.png" alt="Data Bootcamp"> <span>Coming soon</span>  more events
				</a>
			</p>
		</div>
	</div>
</section>

<!-- section asiste-->
<section class="asiste">
	<div class="container">
		<h2>Come to ConDatos</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p class="lead">Save your place at the conference and it’s side events. Free of charge.</p>
			</div>
		</div>	
		<a href="https://docs.google.com/a/vectores.in/forms/d/1MoBsv3PLaFzNTqkdcyNiwJlrY4fOUu5N2-F_wSYz71Y/viewform" target="_blank">REGISTER HERE</a>
		
	</div>
</section>
<!-- section aliados-->
<section class="aliados">
	<div class="container">
		<div class="row">
			<h2>ALIADOS</h2>
						<div class="col-sm-10 col-sm-offset-1 ">
				<ul class="row">
					<li><a class="presidencia" href="http://www.presidencia.gob.mx/">Presidencia de la República</a></li>
					<li><a class="socialtic" href="http://socialtic.org/">SocialTic</a></li>
				</ul>
                <ul class="row">
                    <li><a class="ilda" href="http://idatosabiertos.org/">ILDA</a></li>
				</ul>
                
				<ul class="row">
					<li><a class="avina" href="http://www.avinaamericas.org/">AVINA AMERICAS</a></li>
                    <li><a class="usaid" href="http://www.usaid.gov">USAID</a></li>
                    <li><a class="idrc" href="http://www.idrc.ca/EN/Pages/default.aspx">IDRC</a></li>
				</ul>

				<ul class="row">
                    <li><a class="logosfooter" href="https://www.kionetworks.com/en/" target="_blank">
                    	<img src="../img/kio2.png" alt="Kio Networks" height="40px">
						</a>
                    </li>
                    <li><a class="wbg" href="http://www.worldbank.org">World Bank Group</a></li>
                    <li><a class="bid" href="http://www.iadb.org/es/banco-interamericano-de-desarrollo,2837.html">BID</a></li>
                    <li><a class="logosfooter" href="http://www.cepal.org/" target="_blank">
                    	<img src="../img/logo_cepal.png" alt="CEPAL" height="60px">
						</a>
                    </li>
                 </ul>
                        
                 <ul class="row">
                    <li>
                    	<a class="logosfooter" href="http://www.oas.org/es/" target="_blank">
                    		<img src="../img/OAS_logo.png" alt="Organización de los estados Americanos"                     height="40px">	
                    	</a>
                    </li>
					<li>
                    	<a class="logosfooter" href="https://www.google.com/" target="_blank">
							<img src="../img/google.png" alt="Kio Networks" height="40px">
						</a>
					</li>
                    <li>                            
                    	<a class="logosfooter" href="https://www.hivos.org/" target="_blank">
                    		<img src="../img/Hivos-logo.png" alt="Hivos" height="50px">
                    	</a>
                    </li>
				</ul>
			</div>
			
		</div>
	</div>
</section>