---
layout: defaulten
---
 

<section class="intro">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-md-5">
				<h1 class="brand">Con Datos</h1>
			</div>	
			<div class="col-sm-7 col-md-7">
				<div class="row">
					<div class="col-sm-6 col-md-5">
					<p>Open Data Regional Conference Latin America <span>and the Caribbean</span></p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-7 col-md-6">
						<p class="date">OCT 1—2 | 2014 <span>Mexico City</span></p>
					</div>
					<div class="col-sm-5 col-md-6">
						<p class="right"><span class="abrelatamcondatos">Abrelatam con datos</span>
						<span  class="abrelatam">Abrelatam</span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 bkgd">
			</div>
		</div>
	</div>
</section>
<a name="acercade"></a>
<!-- section expertos-->
<section class="expertos">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 bkgd">
			</div>
			<div class="col-sm-8">
				<p>ConDatos is the most important regional event on open data in Latin America and the Caribbean.</p>
				<p>Expertos de academia, gobierno, empresas y organizaciones de sociedad civil podrán interactuar en pláticas, mesas redondas y talleres que enriquezcan el debate en torno a los datos abiertos.</p>
				<p><a href="{{ site.root_url }}{{ page.back_path }}">Read more</a></p>
			</div>
			
		</div>
	</div>
</section>
<a name="programa"></a>
<!-- section programas-->
<section class="programas">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Programme</h2>
				<h3>COMING SOON</h3>
				<div class="row">
					<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
						<p class="lead">Here you will find the topics that will be addressed at ConDatos, we will have further information and the complete programme soon.</p>
					</div>
				</div>
                 <div class="row">
					<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
						<h3>SEPT 30</h3><h4>AbreLATAM</h4></p>
					</div>
				</div>
             <div class="row">
					<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
						<h3>OCT 1—2</h3><h4>ConDatos</h4></p>
					</div>
				</div>
				<ul class="row">
					<li class="col-sm-4">Understanding Gentrification			 </li>
					<li class="col-sm-4">Open Data Policy Evaluation			 </li>
					<li class="col-sm-4">OD500 Productivity results				 </li>
					<li class="col-sm-4">Open data for accountability			 </li>
					<li class="col-sm-4">Open Parliament						 </li>
					<li class="col-sm-4">OGP’s Opportunities and challenges 	 </li>
					<li class="col-sm-4">Open Mapping 							 </li>
					<li class="col-sm-4">Countries’ experiences in Open Data 	 </li>
					<li class="col-sm-4">Open data startups						 </li>
					<li class="col-sm-4">Civic innovation						 </li>
					<li class="col-sm-4">Open data Policies and Open Government	 </li>
					<li class="col-sm-4">Open Contracting						 </li>
					<li class="col-sm-4">Open data impact on public services	 </li>
					<li class="col-sm-4">Data for Development platforms			 </li>
					<li class="col-sm-4">Internet of things						 </li>
					<li class="col-sm-4">Natural disasters						 </li>
					<li class="col-sm-4">Data Journalism						 </li>
					<li class="col-sm-4">Post 2015								 </li>
					<li class="col-sm-4">Open access							 </li>
					<li class="col-sm-4">Health									 </li>
					<li class="col-sm-4">Open Data Licence						 </li>
					<li class="col-sm-4">Agriculture							 </li>
					<li class="col-sm-4">Open Spending							 </li>
					<li class="col-sm-4">Public Challenges and entrepreneurship	 </li>
					<li class="col-sm-4">Bilateral Agencies Support for Open Data</li>
					<li class="col-sm-4">Instituition centered design			 </li>
					<li class="col-sm-4">Digital Roadpmaps for cities 			 </li>
					<li class="col-sm-4">Open Budget							 </li>
					<li class="col-sm-4">G20 Open Data Chapter 					 </li>
					<li class="col-sm-4">Open City Kit							 </li>
					<li class="col-sm-4">Initiatives for sustainability			 </li>
					<li class="col-sm-4">Open data platforms					 </li>
					<li class="col-sm-4">Sur-sur cooperation					 </li>
					<li class="col-sm-4">Statistics vs. Open data				 </li>
					<li class="col-sm-4">Mobility								 </li>
					<li class="col-sm-4">Open Cities							 </li>
					<li class="col-sm-4">Open Culture							 </li>
				</ul>
         <div class="row">
                            <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                                <h3>OCT 3</h3><h4>Ceremonia de clausura de la Semana de la Estrategia Digital Nacional</h4></p>
                            </div>
                        </div>
			</div>
		</div>
	</div>
</section>
<a name="eventos-paralelos"></a>
<!-- section paralelos-->
<section class="paralelos">
	<div class="container">
		<div class="row">	
			<h2>Side events</h2>
			<p>
				<a href="{{ site.root_url }}/mapaen.html">
						<img src="{{ site.root_url }}/img/stateofthemap_icon.png" alt="ConMapas">
					ConMapas
				</a>
			
				<a>
						<img src="{{ site.root_url }}/img/bootcamp_icon.png" alt="Data Bootcamp"> <span>Coming soon</span>  more events
				</a>
			</p>
		</div>
	</div>
</section>

<!-- section asiste-->
<section class="asiste">
	<div class="container">
		<h2>Come to ConDatos</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p class="lead">Save your place at the conference and it’s side events. Free of charge.</p>
			</div>
		</div>	
		<a href="https://docs.google.com/a/vectores.in/forms/d/1MoBsv3PLaFzNTqkdcyNiwJlrY4fOUu5N2-F_wSYz71Y/viewform" target="_blank">REGISTER HERE</a>
		
	</div>
</section>
<!-- section aliados-->
<section class="aliados">
	<div class="container">
		<div class="row">
			<h2>ALLIES</h2>
			<div class="col-sm-10 col-sm-offset-1">
				<ul class="row">
					<li><a class="presidencia" href="http://www.presidencia.gob.mx/">Presidencia de la República</a></li>
					<li><a class="socialtic" href="http://socialtic.org/">SocialTic</a></li>
					<li><a class="ilda" href="http://idatosabiertos.org/">ILDA</a></li>
				</ul>
				<ul class="row">
					<li><a class="avina" href="http://www.avinaamericas.org/">AVINA AMERICAS</a></li>
					<li><a class="idrc" href="http://www.idrc.ca/EN/Pages/default.aspx">IDRC</a></li>
					<li><a class="usaid" href="http://www.usaid.gov">USAID</a></li>
					<li><a class="wbg" href="http://www.worldbank.org">World Bank Group</a></li>
					<li><a class="bid" href="http://www.iadb.org/es/banco-interamericano-de-desarrollo,2837.html">BID</a></li>

				</ul>
			</div>
			
		</div>
	</div>
</section>