---
layout: defaulten
about: About 
language: 'en'
---


<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-5">
        <h1 class="brand">Con Datos</h1>
      </div>	
      <div class="col-sm-7 col-md-7">
        <div class="row">
          <div class="col-sm-6 col-md-5">
            <p>Open Data Regional Conference Latin America <span>and the Caribbean</span></p>						<p class="date">OCT 1—2 | 2014 <span>Mexico City</span></p>

          </div>
          <div class="col-sm-6 col-md-5" style="font: Quicksand">
            <p class="right"><img src="../img/AbrelatamConDatos_logo.png" alt="AbreLATAM ConDatos " target="_blank"></span>
          <a href="http://abrelatam.org/" target="_blank"><img src="../img/Abrelatam_logo.png" alt="AbreLATAM"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 col-md-6">
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 bkgd">
      </div>
    </div>
  </div>
</section>
<a name="acercade"></a>
<!-- section expertos-->
<section class="expertos">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 bkgd">
      </div>
      <div class="col-sm-8">
        <p>ConDatos is the most important regional event on open data in Latin America and the Caribbean.</p>
        <p>This year, Mexico City will be hosting academics, governments, business and civil society organizations so they can interact in discussions, roundtables and workshops to enrich the debate of open data on different topics.</p>
        <p><a href="..{{ page.back_path }}">Read more</a></p>
      </div>

    </div>
  </div>
</section>
<a name="programme"></a>




<!-- section programas-->
<section class="programas">
        <a name="programaen"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Agenda </h2><br>
        <div class="row">

        </div>

        <div class="row">
          <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <h3>SEPT 30</h3><a href="http://www.abrelatam.org/"><h4>AbreLATAM</h4></a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <h3>OCT 1—2</h3><h4>ConDatos</h4></p>
          </div>
        </div>
      </div>
    </div>


    <table class="table table-hover">
      <thead>
        <td width= "20%"><h4>Hora</h4></td>
        <td width= "40%"><h4>OCT 1</h4></td> 
        <td width= "40%"><h4>OCT 2</h4></td>

      </thead>
    </tr>
    <tr>
      <td>8 AM</td>
      <td colspan="2">Welcome</td> 
    </tr>
    <tr>
      <td>9 AM</td>
      <td rowspan="2">Opening</td> 
      <td><a class="btn-condatos btn btn-default btn-s" href="../agenda/en-2-900-plenarias.html">Open data from the global</a></td> 

    </tr>
    <tr>
      <td>9:30 AM</td>
      <td><a class="btn-condatos btn btn-default btn-s" href="../agenda/en-2-930-plenarias.html">From Transparency to Open Data</a></td> 

    </tr>
    <tr>
      <td>10 AM</td>
      <td><a class="btn-condatos btn btn-default btn-s" href="../agenda/en-1-1000-plenarias.html">Opening Latin America and the Caribbean: The media as a lever for change</a></td> 
      <td><a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-2-1000-herramientas.html">Open Budgeting</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-2-1000-innovacion.html">The Internet of Things</a>
        <a class="btn-politicas btn btn-default btn-s" href="../agenda/en-2-1000-politicas.html">Open Government policies</a>
      </td> 
    </tr>
    <tr>
      <td>10:30 AM</td>
      <td>
        <a class="btn-condatos btn btn-default btn-s" href="../agenda/en-1-1030-plenarias.html">Opening Cities: Open Cities vs Smart Cities</a>
      </td> 
    </tr>
    <tr>
      <td>11 AM</td>
      <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-1-1100-politicas.html">Open Data for Development</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-1-1100-innovacion.html">Productivity and open data</a>
        <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-1-1100-herramientas.html">Open Data Platform</a>
      </td>
      <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-2-1100-politicas.html">Building International Principles: Open Data in G20</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-2-1100-innovacion.html">Open Tourism</a>
        <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-2-1100-herramientas.html">Use Licenses</a>
      </td> 

    </tr>
    <tr>
      <td>12 PM</td>
      <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-1-1200-politicas.html">Challenges and opportunities for the Open Government Partnership</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-1-1200-innovacion.html">Open Data for health</a>
        <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-1-1200-herramientas.html">Privacy in the face of Openness</a></td> 
      <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-2-1200-politicas.html">Open Data: an ingredient in open government</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-2-1200-innovacion.html">Open Data for Public Services</a>
        <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-2-1200-herramientas.html">Opening data as Citizens</a>
      </td> 
    </tr>
    <tr>
      <td>1 PM</td>
      <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-1-1300-politicas.html">Multilateral support for openness</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-1-1300-innovacion.html">Public challenges: opening procurement</a>
        <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-1-1300-herramientas.html">Open mapping</a></td> 				 
      <td><a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-2-1300-herramientas.html">Evaluation of open data policies</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-2-1300-innovacion.html">Understanding Gentrification</a>
        <a class="btn-politicas btn btn-default btn-s" href="../agenda/en-2-1300-politicas.html">Code for the Caribbean</a>
      </td> 
    </tr>
    <tr>
      <td>2 PM</td>
      <td colspan="2">Comida</td> 
    </tr>
    <tr>
      <td>3 PM</td>
      <td><a class="btn-condatos btn btn-default btn-s" href="../agenda/en-1-1500-politicas.html">The Future with Data: Lightning Talks</a></td> 		
      <td><a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-2-1500-herramientas.html">Tool to build action plans Open Data (ODRA)</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-2-1500-innovacion.html">Natural Disasters</a>
        <a class="btn-politicas btn btn-default btn-s" href="../agenda/en-2-1500-politicas.html">Data Revolution for Post-2015</a>
      </td> 
    </tr>
    <tr>
      <td>4 PM</td>
      <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-1-1600-politicas.html
          ">Open Parliament</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-1-1600-innovacion.html
          ">Data and sustainable mobility</a>
        <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-1-1600-herramientas.html
          ">Open Contracts and data standardization in public procurement</a></td> 				 
      <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-2-1600-politicas.html">Similarities and differences between open data and access to public information</a>
        <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-2-1600-innovacion.html">Code for All: Innovation from Citizens</a>
        <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-2-1600-herramientas.html">Data Science</a>
      </td> 		<tr>
        <td>5 PM</td>
        <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-1-1700-politicas.html">Sustainable initiatives</a>
          <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-1-1700-innovacion.html">Data journalism</a>
          <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-1-1700-herramientas.html">Open government for any government</a>
        </td> 				 
        <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-2-1700-politicas.html">Open Access</a>
          <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-2-1700-innovacion.html">Where's the 3 billions?</a>
          <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-2-1700-herramientas.html">Open Data for local development</a>
      </td> 				</tr>
      <tr>
        <td>6 PM</td>
        <td><a class="btn-politicas btn btn-default btn-s" href="../agenda/en-1-1800-politicas.html">Open Cities</a>
          <a class="btn-innovacion btn btn-default btn-s" href="../agenda/en-1-1800-innovacion.html">Accountability</a>
          <a class="btn-herramientas btn btn-default btn-s" href="../agenda/en-1-1800-herramientas.html">Technology for Social Change</a></td> 
        <td><a class="btn-condatos btn btn-default btn-s" href="../agenda/en-2-1800-politicas.html">Keynote</a>
        </td> 
      </tr>
      <tr>
        <td>6:40 PM</td>
        <td colspan="2">Ending - Conclusions and recommendations for the region</td> 
      </td> 
    </tr>
    <tr>
      <td>7:30 PM</td>
      <td colspan="2">Concert</td> 
    </td> 
  </tr>
</table>

<div class="row">
  <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <p><h4>Workshops and Side Events</h4></p>
  </div>

  <table class="table table-hover">
    <thead>
      <td width= "50%"><h4>OCT 1</h4></td> 
      <td width= "50%"><h4>OCT 2</h4></td>

    </thead>
    <tr>
      <td>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-1-talleres-gobabierto.html">Open Government</a>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-1-talleres-politica.html">Making Policy Public</a>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-1-talleres-odi.html">Open Data 101</a>
        <a class="btn-taller btn btn-default btn-s" href="../lab.html">LabConDatos</a>

      </td> 
      <td>
        <a class="btn-taller btn btn-default btn-s" href="../mapa.html">ConMapas</a>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-2-talleres-vivalahack.html">Viva la Hack!</a>
        <a class="btn-taller btn btn-default btn-s" href="../agenda/en-2-talleres-agendacolaborativa.html">Collaborative Agenda</a>
      </td>
    </tr>

  </table>




  <div class="row">
    <div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <h3>OCT 3</h3><h4>Closing ceremony - The Week of the National Digital Strategy</h4></p>
    </div>
  </div>
</div>
</section>



        </div>


            </div>
          </div>





  </div>
</section>


<!-- section paralelos-->
<section class="paralelos">
    <a name="eventos-paralelos"></a>
  <div class="container">
    <div class="row">	
      <h2>Side Events</h2>
      <p>
        <a href="../mapa.html">
            <img src="../img/stateofthemap_icon.png" alt="ConMapas">
          ConMapas 
        </a>

      <a href="../lab.html">
            <img src="../img/bootcamp_icon.png" alt="Data Bootcamp"> LabConDatos
        </a>
      </p>
    </div>
  </div>
</section>


<!-- section sedes-->
<section class="sedes">
  <div class="container">
    <div class="row">	
      <h2>Venues</h2>
      <p>
        <a href="http://www.bibliotecademexico.gob.mx/">
            <img src="../img/ciudadela_icon.png" alt="Octubre 1, Biblioteca de México">
          <span>OCT 1 </span>Biblioteca de México<span>&nbsp;</span>
        </a>

        <a  href="http://www.centroculturadigital.mx/">
            <img src="../img/ccd_icon.png" alt="Octubre 2, Centro de Cultura Digital"> <span>OCT 2</span>Centro de Cultura Digital
        </a>
      </p>
    </div>
  </div>
</section>



<iframe class="mapbox" width="100%" height="300px" frameBorder="0" src="https://a.tiles.mapbox.com/v4/diegobeauroyre.gjil5pck.html?access_token=pk.eyJ1IjoiZGllZ29iZWF1cm95cmUiLCJhIjoicWVBbFhDOCJ9.CxJUkPtAb2kTMPAV9joPqw#14/19.43/-99.155"></iframe>




<!-- section asiste-->
<section class="asiste">
  <div class="container">
    <h2>Come to ConDatos</h2>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <p class="lead">Save your place at the conference and it’s side events. Free of charge.</p>
      </div>
    </div>	
    <a href="https://docs.google.com/a/vectores.in/forms/d/1MoBsv3PLaFzNTqkdcyNiwJlrY4fOUu5N2-F_wSYz71Y/viewform" target="_blank">REGISTER HERE</a>

  </div>
</section>
<!-- section aliados-->
<section class="aliados">
  <div class="container">
    <div class="row">
      <h2>ALIADOS</h2>
            <div class="col-sm-10 col-sm-offset-1 ">
        <ul class="row">
          <li><a class="presidencia" href="http://www.presidencia.gob.mx/">Presidencia de la República</a></li>
          <li><a class="socialtic" href="http://socialtic.org/">SocialTic</a></li>
        </ul>
                <ul class="row">
                    <li><a class="ilda" href="http://idatosabiertos.org/">ILDA</a></li>
        </ul>

        <ul class="row">
          <li><a class="avina" href="http://www.avinaamericas.org/">AVINA AMERICAS</a></li>
                    <li><a class="usaid" href="http://www.usaid.gov">USAID</a></li>
                    <li><a class="idrc" href="http://www.idrc.ca/EN/Pages/default.aspx">IDRC</a></li>
        </ul>

        <ul class="row">
                    <li><a class="logosfooter" href="https://www.kionetworks.com/en/" target="_blank">
<img src="../img/kio2.png" alt="Kio Networks" height="40px">
            </a>
                    </li>
                    <li><a class="wbg" href="http://www.worldbank.org">World Bank Group</a></li>
                    <li><a class="bid" href="http://www.iadb.org/es/banco-interamericano-de-desarrollo,2837.html">BID</a></li>
                    <li><a class="logosfooter" href="http://www.cepal.org/" target="_blank">
<img src="../img/logo_cepal.png" alt="CEPAL" height="60px">
            </a>
                    </li>
                 </ul>

                 <ul class="row">
                    <li>
                      <a class="logosfooter" href="http://www.oas.org/es/" target="_blank">
<img src="../img/OAS_logo.png" alt="Organización de los estados Americanos"                     height="60px">	
                      </a>
                    </li>
          <li>
                      <br><a class="logosfooter" href="https://www.google.com/" target="_blank">
<img src="../img/google.png" alt="Kio Networks" height="40px">
            </a>
          </li>
                    <li>                            
                      <a class="logosfooter" href="https://www.hivos.org/" target="_blank">
<img src="../img/Hivos-logo.png" alt="Hivos" height="50px">
                      </a>
                    </li>
        </ul>
      </div>

    </div>
  </div>
</section>
