---
layout: defaulten
about: Acerca de
language: 'en'
class: agenda

---
 
<section class="title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h6><a href="../indexen.html#programaen">Back to program</a></h6>
			</div>
		</div>
	</div>
</section>

<!-- section programas-->
<section class="contenido">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
                {{ content }}
			</div>
		</div>
	</div>
</section>
